@using BlazorApp.DA
@using BlazorApp.DA.Addresses
@using System;
@using BlazorApp.DB;
@using Microsoft.EntityFrameworkCore;
@using BlazorBootstrap;

@inject IAddressesDataAccess addressesDataAccess;

<Card>
    <CardTitle>Додати пріорітетну адресу</CardTitle>
    <CardBody>
        <EditForm Model="@address" OnValidSubmit="@HandleValidSubmit">
            <div class="form-group">
                <label>Address</label>
                <div style="display: flex; flex-direction: row;">
                    <InputText style="width: 30%" id="address" @bind-Value="address.streetName" />
                    <InputText style="width: 10%" id="address" @bind-Value="address.building" />
                    <NumberInput style="width: 5%;" TValue="double" Label="Priority" @bind-Value="address.priority" />
                </div>
            </div>
            <Button Type="ButtonType.Submit" class="btn btn-primary">Додати</Button>

        </EditForm>
    </CardBody>
</Card>

@code {
    [Parameter] public EventCallback redraw { get; set; }

    private Address address = new Address();

    private async Task HandleValidSubmit()
    {
        await addressesDataAccess.AddAddress(address);
        await redraw.InvokeAsync();
    }
}