@page "/coefficients"
@rendermode InteractiveServer

@using BlazorApp.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;

@inject IDao<Coefficient, CoefficientModel> _coefficientsDataAccess; 

<table>
        @foreach(Coefficient coefficient in coefficients)
        {
            <tr>
                <Parameter coefficient="@coefficient" />
            </tr>
        }
    
</table>
@code {
    private List<Coefficient> coefficients = new();

    override async protected Task OnParametersSetAsync()
    {
        coefficients =  (await _coefficientsDataAccess.GetAll()).ToList();
    }
}
