@page "/coefficients"
@rendermode InteractiveServer

@* @attribute [Authorize] *@


@using BlazorApp.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;

@inject ICoefficientsDataAccess coefficientsDataAccess;

<table>
        @foreach(Coefficient coefficient in coefficients)
        {
            <tr>
                <Parameter coefficient="@coefficient" />
            </tr>
        }
    
</table>
@code {
    private List<Coefficient> coefficients = new();

    override async protected void OnParametersSet()
    {
        coefficients = await coefficientsDataAccess.GetCoefficients();
    }
}
