@page "/coefficients"
@rendermode InteractiveServer

@using ZAK.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;

<PageTitle>Коефіцієнти</PageTitle>


@inject ICoefficientRepository _coefficientRepository; 


<Callout Color="CalloutColor.Info" style="mt-1">
    <p>Ця сторінка дозволяє налаштувати коефіцієнти, які використовуються для розрахунку пріорітетності заявки, що відображається під час вибору заявки на сторінці формування графіку.</p>
    <p>Чим вищий коефіцієнт - тим вище буде пріорітет заявки та тим вище вона буде в списку </p>    
    <p>Включання "максимального пріорітету" переносить заявки певних категорій одразу на вершину списку </p>    
</Callout>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">

<table>
        @foreach(Coefficient coefficient in coefficients)
        {
            <tr>
                <Parameter coefficient="@coefficient" />
            </tr>
        }
    
</table>
</MudContainer>

@code {
    private List<Coefficient> coefficients = new();

    override async protected Task OnParametersSetAsync()
    {
        coefficients =  (await _coefficientRepository.GetAllAsync()).ToList();
    }
}
