@using BlazorApp.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;

@inject IDao<Coefficient, CoefficientModel> _coefficientsDataAccess; 


<td><span>@coefficient.parameterAlias</span></td>
<td>
    <Switch @bind-Value="coefficient.infinite" Label="Максимальный приоритет"   @bind-Value:after="UpdateInfinityStatus" />
</td>
<td>
    <InputNumber TValue="double" @bind-Value="@coefficient.coefficient"  @bind-Value:after="UpdateParameterValue" />
</td>


@code {
    [Parameter] public Coefficient coefficient { get; set; } = new Coefficient();

    private async void UpdateParameterValue()
    {
        Coefficient oldCoefficient = await _coefficientsDataAccess.GetById(coefficient.id);
        oldCoefficient.coefficient = coefficient.coefficient; 
        await _coefficientsDataAccess.Update(oldCoefficient, coefficient.id);
    }

    private async void UpdateInfinityStatus()
    {
        Coefficient oldCoefficient = await _coefficientsDataAccess.GetById(coefficient.id);
        oldCoefficient.infinite = coefficient.infinite; 
        await _coefficientsDataAccess.Update(oldCoefficient, coefficient.id);
    }


}
