@inject IApplicationReporisory _applicationRepository;

@if (application.applicationWasUpdated)
{
    <Tooltip Title="@_changesReport" IsHtml="true" Placement="TooltipPlacement.Top">

        <Button @onclick="UpdateConfirmed">
            <Icon Name="IconName.ExclamationDiamondFill" Size="IconSize.x2" Color="IconColor.Warning" />
        </Button>
    </Tooltip>
}

@code {
    [Parameter] public Application application { get; set; } = default!;

    private string _changesReport = String.Empty; 
    protected override void OnParametersSet()
    {
        _changesReport = "Було змінено: <br>";
        if(application.operatorCommentWasUpdated)
        {
            _changesReport += "- Коментар оператора <br>";
        }
        if(application.masterCommentWasUpdated)
        {
            _changesReport += "- Коментар майстра <br>";
        }
        if(application.statusWasUpdated)
        {
            _changesReport += "- Статус заявки <br>";
        }
        if(application.addresWasUpdated)
        {
            _changesReport += "- Адреса заявки <br>";
        }
    }

    private async Task UpdateConfirmed()
    {
        application.operatorCommentWasUpdated = false;
        application.masterCommentWasUpdated = false;
        application.statusWasUpdated = false;
        application.addresWasUpdated = false;

        await _applicationRepository.UpdateAsync(
            application);
    }
}
