<div class="scrollComment">
    "@((MarkupString)operatorComment)"
    <hr>
    "@((MarkupString)masterComment)"
</div>

<style>
    .scrollComment 
    {
        max-height: 20em;
        overflow: auto;
    }
</style>

@code {
    [Parameter] public string operatorComment {get;set;} = String.Empty;
    [Parameter] public string masterComment {get;set;} = String.Empty;

}
