@using ZAK.Db
@inject IDbContextFactory<BlazorAppDbContext> _dbContextFactory;

<Button @onclick="DeleteAllApplications">УДАЛИТЬ ВСЕ ЗАЯВКИ</Button>

@code
{
    private async Task DeleteAllApplications()
    {
        using (BlazorAppDbContext dbContext = _dbContextFactory.CreateDbContext())
        {
            dbContext.Database.ExecuteSqlRaw("SET FOREIGN_KEY_CHECKS = 0");
            dbContext.Database.ExecuteSqlRaw("TRUNCATE TABLE ScheduledApplicationModel");
            
            dbContext.Database.ExecuteSqlRaw("TRUNCATE TABLE applications");
            dbContext.Database.ExecuteSqlRaw("SET FOREIGN_KEY_CHECKS = 1");

            await dbContext.SaveChangesAsync();
        }
    }
}