@using System.ComponentModel.DataAnnotations;
@using ZAK.DA;

@inject IApplicationReporisory _applicationRepository;

<span>Кількість днів для підключення</span>
<InputNumber @bind-Value="daysForConnection" @bind-Value:after="UpdateDbData" />



@code {
    [Parameter] public int applicationId { get; set; }
    [Parameter] public int daysForConnection {get; set;} =  0;

    private async Task UpdateDbData() {

        Application application = await _applicationRepository.GetByIdAsync(applicationId);
        application.maxDaysForConnection = daysForConnection;
        await _applicationRepository.UpdateAsync(application);
    }
        
}
