@using System.ComponentModel.DataAnnotations;
@using ZAK.DA;

@inject IDao<Application, ApplicationModel> applicationsDataAccess;

<span>Кількість днів для підключення</span>
<InputNumber @bind-Value="daysForConnection" @bind-Value:after="UpdateDbData" />



@code {
    [Parameter] public int applicationId { get; set; }
    [Parameter] public int daysForConnection {get; set;} =  0;

    private async Task UpdateDbData() {

        Application application = await applicationsDataAccess.GetById(applicationId);
        application.maxDaysForConnection = daysForConnection;
        await applicationsDataAccess.Update(application, findPredicate: x => x.id == applicationId);
    }
        
}
