@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand p-2" href="#">COMPANY_NAME График</a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <NavLink class="nav-link" href="applications">
            Заявки
          </NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="schedule">
            График
          </NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="coefficients">
            Коефициенты
          </NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="addresses">
            Адреса
          </NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="blackout">
            График отключений
          </NavLink>
        </li>

      </ul>

    </div>

  </nav>
</AuthorizeView>
