@using BlazorApp.DA;
@using ApplicationsScrappingModule;
@using BlazorApp.Enums;
@using BlazorBootstrap;
@using Microsoft.AspNetCore.Components.Forms
@using BlazorApp.ApplicationsLoader;
@using ZAK.Services.ApplicationsManagerSerivce

@inject IFileLoader fileLoader;
@inject IApplicationsLoader applicationsLoader;

@inject IApplicationsManagerService _applicationsManagerSerivce

<div>
  <InputFile OnChange="@((InputFileChangeEventArgs e) => applicationsFileToLoad = e.File)"></InputFile>

  <Button @ref="updateApplicationButton" class="p-2" Color="ButtonColor.Info" @onclick="UpdateApplications">Оновити
    заявки</Button>
</div>


<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopLeft" />
@code
{
  [Parameter]
  public EventCallback ApplicationsInformationWasChanged { get; set; }

  private Button updateApplicationButton = default!;
  IBrowserFile? applicationsFileToLoad;
  private async Task UpdateApplications()
  {
    updateApplicationButton.ShowLoading("Загрузка заявок...");
    if (applicationsFileToLoad is not null) await _applicationsManagerSerivce.UpdateApplications(applicationsFileToLoad);
    else
    {
      ShowToast();
      updateApplicationButton.HideLoading();

      return;
    }
    updateApplicationButton.HideLoading();
  }

  List<ToastMessage> messages = [];
  private void ShowToast()
  {
    messages.Add(
    new ToastMessage
    {
      Type = ToastType.Warning,
      Title = "Завантаження заявок!",
      Message = "Файл заявок не обрано!",
      AutoHide = true,
    });
  }
}
