<ApplicationAdditionModal @ref="applicatonAdditionModal" ApplicationsInformationWasChanged="ApplicationsInformationWasChanged" />

  <div class="gap-3 my-3" style="display:flex; flex-direction:row">
    <ApplicationsFileLoader ApplicationsInformationWasChanged="ApplicationsInformationWasChanged" />
    <Button @onclick="@(async () => await applicatonAdditionModal.ShowModal())" Color="ButtonColor.Info">Додати нову заявку</Button>
  </div>


@code {
  [Parameter]
  public EventCallback ApplicationsInformationWasChanged { get; set; }

  private ApplicationAdditionModal applicatonAdditionModal = default!;
}
