@using BlazorApp.DA;
@using ApplicationsScrappingModule;
@using BlazorApp.Enums;
@using BlazorBootstrap;
@using Microsoft.AspNetCore.Components.Forms
@using BlazorApp.ApplicationsLoader;

@inject IFileLoader fileLoader;
@inject IApplicationsLoader applicationsLoader;


<div>
  <InputFile OnChange="LoadFile"></InputFile>
  <Button @ref="LoadWithRemoval" class="p-2" Color="ButtonColor.Info"
    @onclick="LoadNewApplicationsWithReplacement">Загрузить заявки</Button>
  <Button @ref="LoadNew" class="p-2" Color="ButtonColor.Info" @onclick="LoadNewApplications">Добавить заявки</Button>
</div>

@code
{
  [Parameter]
  public EventCallback ApplicationsInformationWasChanged { get; set; }

  private Button LoadWithRemoval = default!;
  private Button LoadNew = default!;

  string? pathToApplicationsFile = null;
  IBrowserFile? applicationsFileToLoad;

  @* Alert noFileAlert = default!;  *@

  private async void LoadNewApplications()
  {
    LoadNew.ShowLoading("Загрузка заявок...");

    if (applicationsFileToLoad is not null) await fileLoader.LoadFile(applicationsFileToLoad);
    else {
      ///Code for alert
      return;
    }

    

    await applicationsLoader.AddNewApplications(fileLoader.GetLastLoadedFile());

    //applicationScrapper.ProcessFileWithAddition(fileLoader.GetLastLoadedFile());

    await ApplicationsInformationWasChanged.InvokeAsync();

    fileLoader.DeleteTempFiles();

    LoadNew.HideLoading();
  }

  private async void LoadNewApplicationsWithReplacement()
  {
    LoadWithRemoval.ShowLoading("Загрузка заявок...");

    if (applicationsFileToLoad is null)
    {
      return;
    }
    await fileLoader.LoadFile(applicationsFileToLoad);


    await applicationsLoader.AddNewApplicationsWithRemoval(fileLoader.GetLastLoadedFile());


    await ApplicationsInformationWasChanged.InvokeAsync();

    fileLoader.DeleteTempFiles();

    LoadWithRemoval.HideLoading();
  }

  public void LoadFile(InputFileChangeEventArgs e)
  {
    //fileLoader.LoadFile(e.File, "C:/Users/Kurimasu Tanaka/Documents/Coding projects/C#/ZAK/file.html");
    applicationsFileToLoad = e.File;
  }
}