@inject IAddressesDataAccess addressesDataAccess;
@inject ILogger<AddressAccessComponent> _logger;

<InputSelect @bind-Value="@equipmentAccess"  @bind-Value:after="UpdateEquipmentAccess">
    @foreach (EquipmentAccess access in Enum.GetValues(typeof(EquipmentAccess)))
    {
        <option value="@access">@access.GetDisplayName()</option>
    }
</InputSelect>

@code {
    [Parameter] public EquipmentAccess equipmentAccess { get; set; }
    [Parameter] public int addressId { get; set; }

    void UpdateEquipmentAccess()
    {
        _logger.LogInformation($"Updating equipment access for address with id {addressId} to {equipmentAccess}");

        addressesDataAccess.UpdateEquipmentAccess(addressId, equipmentAccess);
    }
}
