@inject IDaoBase<AddressCoordinates, AddressCoordinatesModel> cooridinatesDataAccess;

<Button @onclick="DeleteCoordinates">
    <Icon Name="IconName.X" />
</Button>
@code {
    [Parameter] public int addressId { get; set; }

    private async void DeleteCoordinates()
    {
        AddressCoordinates coordinates = await cooridinatesDataAccess.GetById(addressId);
        coordinates.lat = 0.0;
        coordinates.lon = 0.0;
        await cooridinatesDataAccess.Update(coordinates, coordinates.addressId);
    }

}
