@inject IAddressRepository _addressRepository;
@inject ILogger<AddressCoordinatesClearButtonComponent> _logger;

<Button @onclick="DeleteCoordinates">
    <Icon Name="IconName.X" />
</Button>
@code {
    [Parameter] public int addressId { get; set; }
    [Parameter] public EventCallback informationUpdated { get; set; }

    private async void DeleteCoordinates()
    {
        _logger.LogInformation("Clearing coordinates for address with ID: {AddressId}", addressId);

        Address address = await _addressRepository.GetByIdAsync(addressId);

        if (address.coordinates is null)
        {
            address.coordinates = new AddressCoordinates();
        }
        else
        {
            address.coordinates.lat = 0;
            address.coordinates.lon = 0;
        }

        await _addressRepository.UpdateAsync(address);

        await informationUpdated.InvokeAsync();
    }
}
