
@using BlazorApp.DA;
@inject IDaoBase<Brigade, BrigadeModel> brigadesDataAccess;
@inject ILogger<ApplicationDeleteButton> _logger;

<Button class="btn btn-danger" @onclick="DeleteApplication">Delete</Button>

@code {

    [Parameter]
    public int applicationId { get; set; } = 0;

    [Parameter]
    public int brigadeId { get; set; } = 0;


    [Parameter]
    public EventCallback UpdateSchedule { get; set; }


    [Parameter]
    public EventCallback DeleteButtonWasPressed { get; set; }


    private async void DeleteApplication()
    {
        _logger.LogInformation($"Deleting application with id {applicationId} from brigade with id {brigadeId}");

        await DeleteButtonWasPressed.InvokeAsync();

        Brigade brigade = await brigadesDataAccess.GetById(brigadeId);
        //brigade.applicationsIds.Remove(applicationId);
        await brigadesDataAccess.Update(brigade, brigade.id);

        await UpdateSchedule.InvokeAsync();
    }

}
 