<td style="background-color: @(backgroundColor); border-style: solid; border-width: 2px; border-color: royalblue;">

</td>




@code {
    [Parameter] public BlackoutZone blackoutZone {get; set; } = BlackoutZone.Unknown;

    string backgroundColor = "orange";
    protected override void OnParametersSet() 
    {
        SetColor(blackoutZone);
    } 

    public void SetColor(BlackoutZone zone)
    {
        switch(zone)
        {
            case BlackoutZone.White:
                backgroundColor = "white";
                break;
            case BlackoutZone.Gray:
                backgroundColor = "gray";
                break;
            case BlackoutZone.Black:
                backgroundColor = "black";
                break;
            default: 
                backgroundColor = "orange";
                break;
        }
        StateHasChanged();
    }

}
