@using System.Numerics
@using ZAK.DA
@using Syncfusion.Licensing
@using ZAK.MapRoutesManager

@inject IMapRoutesManager mapRoutesManager

@inject ILogger<MapPart> _logger

<div style="width: 50%">
    <MapComponentLeaflet @ref="mapComponent" />
</div>


@code {
    
    MapComponentLeaflet mapComponent = default!;

    public async Task RefreshMap()
    {
        _logger.LogInformation("Refreshing map in MapPart component");

        await mapComponent.RefreshMap();
    }
}
