@using System.Numerics
@using BlazorApp.DA
@using Syncfusion.Licensing
@using ZAK.MapRoutesManager
@using ZAK.Client.MapComponent

@inject IMapRoutesManager mapRoutesManager
@inject IApplicationsDataAccess applicationsDataAccess;
@inject IBrigadesDataAccess brigadesDataAccess;

@inject ILogger<MapPart> _logger

<div style="width: 50%">
    <MapComponentLeaflet @ref="mapComponent" />
</div>


@code {
    
    MapComponentLeaflet mapComponent = default!;

    public async Task RefreshMap()
    {
        _logger.LogInformation("Refreshing map in MapPart component");

        await mapComponent.RefreshMap();
    }
}
