@using BlazorApp.DA;

@inject IBrigadesDataAccess brigadesDataAccess;

<div style="width: 50%">
    <Button Color="ButtonColor.Primary" @onclick="AddNewBrigade">Добавить бригаду</Button>

    <BrigadeList @ref=@brigadeList  RefreshMap="async (value) => {await RefreshMap.InvokeAsync();}"/>
</div>

@code {
    [Parameter] public EventCallback RefreshMap { get; set; }

    BrigadeList brigadeList;

    private async Task AddNewBrigade()
    {
        brigadesDataAccess.AddNewBrigade();
        brigadeList.UpdateList();
    }

}
