@page "/"
@page "/schedule"
@rendermode InteractiveServer

@* @attribute [Authorize] *@


<div style="display: flex; flex-direction: row">
    <SchedulePart RefreshMap="RefreshMap" />
    <MapPart @ref="mapPart"/>
</div>

@code {
    EventCallback refreshMap { get; set; }

    MapPart mapPart = default!;

    private async void RefreshMap()
    {
        await mapPart.RefreshMap();
    }

}
