@page "/"
@page "/schedule"
@rendermode InteractiveServer
@using BlazorApp.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;

<ApplicationsPicker />

<div style="display: flex; flex-direction: row">
    <SchedulePart />
    <MapPart />
</div>

@code {

}
