@using BlazorApp.DA;
@using MudBlazor;

@inject IDao<Brigade, BrigadeModel> brigadesDataAccess;
@inject ILogger<SchedulePart> _logger

<div style="width: 50%">
    <MudButton  Variant="Variant.Filled" Style="@($"background:{Colors.Gray.Darken3}; color:{Colors.Orange.Lighten2};")"  @onclick="AddNewBrigade"> Добавить бригаду</MudButton >

    <BrigadeList @ref=@brigadeList  RefreshMap="async (value) => {await RefreshMap.InvokeAsync();}"/>
</div>

@code {
    [Parameter] public EventCallback RefreshMap { get; set; }

    BrigadeList brigadeList = default!;

    private async Task AddNewBrigade()
    {
        _logger.LogInformation("Adding new brigade");

        await brigadesDataAccess.Insert(new Brigade());
    }

}
