@using BlazorApp.DA;

@inject IDaoBase<Brigade, BrigadeModel> brigadesDataAccess;
@inject ILogger<SchedulePart> _logger

<div style="width: 50%">
    <Button Color="ButtonColor.Primary" @onclick="AddNewBrigade">Добавить бригаду</Button>

    <BrigadeList @ref=@brigadeList  RefreshMap="async (value) => {await RefreshMap.InvokeAsync();}"/>
</div>

@code {
    [Parameter] public EventCallback RefreshMap { get; set; }

    BrigadeList brigadeList;

    private async Task AddNewBrigade()
    {
        _logger.LogInformation("Adding new brigade");

        await brigadesDataAccess.Insert(new Brigade());
        await brigadeList.UpdateList();
    }

}
