@page "/"
@page "/schedule"
@rendermode InteractiveServer
@using BlazorApp.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;

<div style="display: flex; flex-direction: row">
    <SchedulePart RefreshMap="RefreshMap" />
    <MapPart @ref="mapPart"/>
</div>

@code {
    EventCallback refreshMap { get; set; }

    MapPart mapPart = default!;

    private async void RefreshMap()
    {
        await mapPart.RefreshMap();
    }

}
