@using BlazorApp.DA;
@using MudBlazor;

@inject IDao<Brigade, BrigadeModel> brigadesDataAccess;
@inject ILogger<SchedulePart> _logger

<div style="width: 50%">
    <Button Color="ButtonColor.Secondary" @onclick="AddNewBrigade">Додати бригаду</Button >
    <BrigadeDeletionDropdown brigadeWasDeleted="RefreshList" />

    <BrigadeList @ref=@brigadeList  RefreshMap="async (value) => {await RefreshMap.InvokeAsync();}"/>
</div>

@code {
    [Parameter] public EventCallback RefreshMap { get; set; }

    BrigadeList brigadeList = default!;

    private void RefreshList()
    {
        brigadeList.Refresh();
    }

    private async Task AddNewBrigade()
    {
        _logger.LogInformation("Adding new brigade");

        await brigadesDataAccess.Insert(new Brigade());
        await brigadeList.ReuploadApplications();
    }

}
